@media (min-width: 768px) {
    body{
        margin: auto;
        padding-bottom: 10vh;
        background-color: #E5ECEA;
        display: flex;
        font-family: inter;
    }
    .sidebar{
        width: 250px;
        height: 100vh;
        padding: 2%;
        background-color: #FFFFFF;
        border-right: 1px #B5C2CA solid;
        position: fixed;
        display: block;
        justify-content: space-evenly;
        align-items: top;
    }

    .sidebar > div:nth-child(1) {
        display: none;
    }

    .sidebar > div{
        width: 100%;
        height: 10%;
        margin: 5% auto;
        border-radius: 20px;
        display: flex;
        justify-content: start;
        align-items: center;
        font-family: inter;
    }

    a{
        text-decoration: none;
        color: black;
    }

    .sidebar > div > a{
        width: 90%;
        text-decoration: none;
    }

    .sidebar > div > a > div{
        width: 100%;
        height: 10%;
        padding-left: 30px;
        margin: 5% auto;
        border-radius: 20px;
    }

    .sidebar > div > a > div:hover{
        background-color: blue;
    }

    #logo{
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        border-radius: 0px;
        border-bottom: 1px black solid;
    }

    #logos{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr; 
        align-items: center;
    }

    #logos:hover{
        filter: hue-rotate(180deg) invert();
    }

    .sidebar-text{
        color: #989898;
        font-size: 1rem;
    }

    .imgs{
        height: 40px;
        width: 40px;
    }

    .imgss{
        height: 40px;
        width: 40px;
        margin-right: 10px;
    }

    li{
        font-size: 2em;
    }

    #content{
        width: 600px;
        display: block;
        margin-top: 2%;
        padding-left: 400px;
    }
}

@media (max-width: 767px) {
    body{
        margin: 0%;
        background-color: #E5ECEA;
        display: block;
        padding-bottom: 100px;
        font-family: inter;
    }


    .sidebar-text{
        color: #989898;
        font-size: 9px;
    }

    .sidebar{
        width: 100%;
        height: 80px;
        z-index: 2;
        padding-bottom: 10px;
        background-color: #FFFFFF;
        position: fixed;
        display: flex;
        bottom: 0px;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
    }

    .sidebar > div{
        width: 100px;
        height: 100%;
        margin: 0 auto;
        border-radius: 10px;
        font-family: inter;
    }

    a{
        text-decoration: none;
        color: black;
    }

    a > div{
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    #logo{
        display: none;
    }

    #logos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        width: 100%;
        height: 100%;
    }

    .imgs{
        height: 30px;
        width: 30px;
    }

    #content{
        width: 100%;
    }
}
