{% extends "layout.html" %}
{% block head %}
    <title>{% block title %}{% endblock %} Calendar - DoTask</title>
    <link rel="stylesheet" {% block css_tab_colour %} href="../static/css/calendar.css" {% endblock %}/>
{% endblock %}

{% block calendar_image_colour %}
  <a class="a6" href="{{ url_for('hello_calendar') }}">
  <div id="logos">
      <img class="imgs" src="../static/svg/calendar_active.svg">
      <h4 class="sidebar-text">Calendar</h4>
  </div>
  </a>
{% endblock calendar_image_colour %}

{% block tasks %}
  {% if current_user %}
    <div class="calendar-container">
      <div class="calendar-table">{{ html_calendar | safe }}</div>



      <div class="calendar-navigation">
        <a href="/calendar/?year={{ prev_year }}&month={{ prev_month }}" class="nav-btn">← Previous</a>
        <a href="/calendar/?year={{ today.year }}&month={{ today.month }}" class="nav-btn">Today</a>
        <a href="/calendar/?year={{ next_year }}&month={{ next_month }}" class="nav-btn">Next →</a>
      </div>

      <h2>{{day}} {{month_to_display}} {{year}}</h2>

      
    </div>
    
    {% if daily_tasks %}
        {% for task in daily_tasks %}
            <a href="{{ url_for('hello_each_task', task_id=task['id']) }}">
              <div class="message-box">
                  <div class="message">
                      <h4> {{ task['title'] }} </h4>
                      <h4 style="color: #676767;"> {{ task.tag.name }} </h4>
                  </div>

                  <div class="message-dot {% if task.status.name == 'In_Progress' %}progress-task
                    {% elif task.status.name == 'Completed' %}completed-task
                    {% elif task.status.name == 'Cancelled' %}cancelled-task
                    {% else %}unknown-task
                    {% endif %}">
                  </div>

              </div>
            </a>
        {% endfor %}
    {% else %}
            <div class="message-box">
                <div class="message">
                    <h2>No Deadline today</h2>
                </div>
            </div>
    {% endif %}

  {% endif %}


{% endblock tasks %}