{% extends "layout.html" %}
{% block head %}
    <title>{% block title %}{% endblock %} Calendar - DoTask</title>
    <link rel="stylesheet" {% block css_tab_colour %} href="../static/css/calendar.css" {% endblock %}/>
{% endblock %}

{% block calendar_image_colour %}
    <a class="a6" href="{{ url_for('hello_calendar') }}">
        <div id="logos">
            <img class="imgs" src="../static/svg/calendar_active.svg">
            <h4 class="sidebar-text">Calendar</h4>
        </div>
    </a>
{% endblock calendar_image_colour %}

{% block tasks %}
    {% if current_user %}
        <div class="calendar">
            <div class="left-calendar">
                {% include 'pagination_calendar.html' %}
            </div>
        <div class="right-calendar">
            <div class="calendar-container">
                <div class="calendar-table">{{ html_calendar | safe }}</div>
                <div class="calendar-navigation">
                    <a href="/calendar/?year={{ prev_year }}&month={{ prev_month }}" class="nav-btn">← Previous</a>
                    <a href="/calendar/?year={{ today.year }}&month={{ today.month }}" class="nav-btn">Today</a>
                    <a href="/calendar/?year={{ next_year }}&month={{ next_month }}" class="nav-btn">Next →</a>
                </div>
                <h2>{{day}} {{month_to_display}} {{year}}</h2>
            </div>
        </div>
    {% endif %}
{% endblock tasks %}