{% extends "layout.html" %}
{% block head %}
    <title>{% block title %}{% endblock %} Cancelled Tasks - DoTask</title>
    <link rel="stylesheet" {% block css_tab_colour %} href="../static/css/tasks.css" {% endblock %}/>
{% endblock %}

{% block categories %}
    <div class="cate-container-3">
        <img src="../static/svg/cancelled.svg">
        <h3>Cancelled</h3>
    </div>
{% endblock categories %}

{% block task_image_colour %}
    <a class="a2" href="{{ url_for('hello_tasks') }}">
    <div id="logos">
        <img class="imgs" src="../static/svg/tasks_active.svg">
        <h4 class="sidebar-text">Tasks</h4>
    </div>
    </a>
{% endblock task_image_colour %}

{% block tasks %}
    {% if tasks %}
        {% for task in tasks %}
            {% if task.status.name == 'Cancelled' %}
                <a href="{{ url_for('hello_each_task', task_id=task['id']) }}">
                    <div class="message-box">
                        <div class="message">
                            <h4> {{ task['title'] }} </h4>
                            <h4 style="color: #676767;"> {{ task.tag.name }} </h4>
                        </div>

                        <div class="message-dot {% if task.status.name == 'In_Progress' %}progress-task
                            {% elif task.status.name == 'Completed' %}completed-task
                            {% elif task.status.name == 'Cancelled' %}cancelled-task
                            {% else %}unknown-task
                            {% endif %}">
                        </div>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
        {% else %}
                <div class="message-box">
                    <div class="message">
                        <h2>No Tasks Yet</h2>
                    </div>
                </div>
    {% endif %}
{% endblock tasks %}