{% extends "layout.html" %}
{% block head %}
    <title>{% block title %}{% endblock %} Completed Tasks - DoTask</title>
    <link rel="stylesheet" {% block css_tab_colour %} href="../static/css/tasks.css" {% endblock %}/>
{% endblock %}

{% block categories %}
    <div class="cate-container-2">
        <img src="../static/svg/completed.svg">
        <h3>Completed</h3>
    </div>
{% endblock categories %}

{% block task_image_colour %}
    <a class="a2" href="{{ url_for('hello_tasks') }}">
    <div id="logos">
        <img class="imgs" src="../static/svg/tasks_active.svg">
        <h4 class="sidebar-text">Tasks</h4>
    </div>
    </a>
{% endblock task_image_colour %}

{% block tasks %}
    {% include 'pagination_completed_task.html' %}
{% endblock tasks %}