<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% extends "layout.html" %}
    {% block head %}
        <title>{% block title %}{% endblock %} Dashboard - DoTask</title>
        <link rel="stylesheet" {% block css_tab_colour %} href="../static/page_css_folder/dashboard.css" {% endblock %}/>
    {% endblock %}
</head>
<body>
    {% block dash_image_colour %}
    <a class="a1" href="{{ url_for('hello_dashboard') }}">
    <div id="logos">
        <img class="imgs" src="../static/dashboard_active.svg">
        <h4 class="sidebar-text">Dashboard</h4>
    </div>
    </a>
    {% endblock dash_image_colour %}
    {% block nav_title %}
    <div class="nav_title">
        <h1>Hi {{ current_user.first_name }}</h1>
    </div>
    {% endblock nav_title %}

    {% block categories %}
    <h3>Categories</h3>
    <div class="cate">
        <a href="">
            <div class="cate-container-1">
                <img src="../static/in_process.png">
                <h3>In-process</h3>
            </div>
        </a>
        <a href="">
            <div class="cate-container-2">
                <img src="../static/completed.svg">
                <h3>Completed</h3>
            </div>
        </a>
        <a href="">
            <div class="cate-container-3">
                <img src="../static/cancelled.svg">
                <h3>Cancelled</h3>
            </div>
        </a>
    </div>
    {% endblock categories %}

    {% block add_task %}
    <h3>Add New</h3>
    <div class="cate">
        <a href="{{ url_for('hello_new_task') }}">
            <div class="cate-container-4">
                <img src="../static/add_task.svg">
                <h3>Add New Task</h3>
            </div>
        </a>
    </div>
    {% endblock add_task %}

    {% block tasks %}

    {% endblock tasks %}

    
</body>
</html>