<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% extends "layout.html" %}
    {% block head %}
        <title>{% block title %}{% endblock %} Dashboard - DoTask</title>
        <link rel="stylesheet" {% block css_tab_colour %} href="../static/page_css_folder/dashboard.css" {% endblock %}/>
    {% endblock %}
</head>
<body>
    {% block dash_image_colour %}
    <a class="a1" href="{{ url_for('hello_dashboard') }}">
    <div id="logos">
        <img class="imgs" src="../static/dashboard_active.svg">
        <h4 class="sidebar-text">Dashboard</h4>
    </div>
    </a>
    {% endblock dash_image_colour %}
    {% block nav_title %}
    <div class="nav_title">
        <h1>Hi {{ current_user.first_name }}</h1>
    </div>
    {% endblock nav_title %}

    {% block flash_div %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-div">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    {% endblock flash_div %}

    {% block categories %}
    <h2>Categories</h2>
    <div class="cate">
        <a href="{{ url_for('hello_in_process_tasks') }}">
            <div class="cate-container-1">
                <img src="../static/in_process.png">
                <h3>In-process</h3>
            </div>
        </a>
        <a href="{{ url_for('hello_completed_tasks') }}">
            <div class="cate-container-2">
                <img src="../static/completed.svg">
                <h3>Completed</h3>
            </div>
        </a>
        <a href="{{ url_for('hello_cancelled_tasks') }}">
            <div class="cate-container-3">
                <img src="../static/cancelled.svg">
                <h3>Cancelled</h3>
            </div>
        </a>
    </div>
    {% endblock categories %}

    {% block add_task %}
    <h2>Add New</h2>
    <div class="cate">
        <a href="{{ url_for('hello_new_task') }}">
            <div class="cate-container-4">
                <img src="../static/add_task.svg">
                <h3>Add New Task</h3>
            </div>
        </a>
    </div>
    {% endblock add_task %}

    {% block tasks %}
        <h2>Tasks</h2>
        {% if tasks %}
            {% for task in tasks %}
            <a href="{{ url_for('hello_each_task', task_id=task['id']) }}">
            <div class="message-box">
                <div class="message">
                    <h4> {{ task['title'] }} </h4>
                    <h4 style="color: #676767;"> {{ task.tag.name }} </h4>
                </div>

                <div class="message-dot {% if task.status.name == 'In_Progress' %}progress-task
                    {% elif task.status.name == 'Completed' %}completed-task
                    {% elif task.status.name == 'Cancelled' %}cancelled-task
                    {% else %}unknown-task
                    {% endif %}">
                </div>
  
            </div>
            </a>
            {% endfor %}
            {% else %}
                <div class="message-box">
                    <div class="message">
                        <h2>No Tasks Yet</h2>
                    </div>
                </div>
        {% endif %}
    {% endblock tasks %}


    
</body>
</html>