{% extends "layout.html" %}
{% block head %}
    <title>{% block title %}{% endblock %} Tasks - DoTask</title>
    <link rel="stylesheet" {% block css_tab_colour %} href="../static/page_css_folder/tasks.css"> 
    {% endblock %}
{% endblock %}
{% block task_image_colour %}
    <a class="a2" href="{{ url_for('hello_tasks') }}">
    <div id="logos">
        <img class="imgs" src="../static/tasks_active.svg">
        <h4 class="sidebar-text">Tasks</h4>
    </div>
    </a>
{% endblock task_image_colour %}

{% block flash_div %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-div">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
{% endblock flash_div %}

{% block tasks %}
    {% if task %}
        <div class="task-header">
            <img src="../static/title.svg">
            <h3 class="grey_tags">Title</h3>
        </div>
        <h1 id="status-in-task">{{ task['title'] }}</h1>
        <br>
        <div class="task-header">
            <img src="../static/description.svg">
            <h3 class="grey_tags">Description</h3>
        </div>
        <h3 id="status-in-task">{{ task['description'] }}</h3>
        <br>
        <div class="task-header">
            <img src="../static/due_dates.svg">
            <h3 class="grey_tags">Due Date</h3>
        </div>
        <h3 id="status-in-task">{{ task['due_date'] }}</h3>
        <br>
        <div class="task-header">
            <img src="../static/status.svg">
            <h3 class="grey_tags">Status</h3>
        </div>
        <div class="status-in-task">
            <div class="message-dot {% if task.status.name == 'In_Progress' %}progress-task
            {% elif task.status.name == 'Completed' %}completed-task
            {% elif task.status.name == 'Cancelled' %}cancelled-task
            {% else %}unknown-task
            {% endif %}">
            </div>
            <h3>{{ task.status.name }}</h3>
        </div>
        <br>
        <div class="task-header">
            <img src="../static/tag.svg">
            <h3 class="grey_tags">Tag</h3>
        </div>
        <h3 id="status-in-task">{{ task.tag.name }}</h3>

        {% if team and team|length > 1 %}
            <div class="task-header">
                <img src="../static/teams.svg">
                <h3 class="grey_tags">Team</h3>
            </div>
            {% for member in team %}
                {% if member.email != current_user.email %}
                <div class="task-header-edit">
                    <div><img src="../static/add_task.svg"></div>
                    <div>
                        <h4 id="status-in-task"> {{ member.last_name }} {{ member.first_name }} </h4>
                        <h4 id="status-in-task"> {{ member.email }} </h4>
                    </div>
                </div>
                
                {% endif  %}
            {% endfor %}
        {% endif %}

        <div class="task-clickables">
            <a href="{{ url_for('hello_edit_task', task_id=task['id']) }}">
                <div class="">
                    <h2>EDIT</h2>
                </div>
            </a>
            <a href="{{ url_for('hello_invite_to_task', task_id=task['id'], ) }}">
                <div class="">
                    <h2>INVITE</h2>
                </div>
            </a>
            <a href="{{ url_for('hello_delete_task', task_id=task['id']) }}">
                <div class="">
                    <h2>DELETE</h2>
                </div>
            </a>
        </div>
        {% else %}
        <h1>No task found.</h1>
    {% endif %}
{% endblock tasks %}