<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    {% extends "layout.html" %}
    {% block head %}
        <title>{% block title %}{% endblock %} In Process Tasks - DoTask</title>
        <link rel="stylesheet" {% block css_tab_colour %} href="../static/css/tasks.css" {% endblock %}/>
    {% endblock %}
</head>
<body>
    {% block task_image_colour %}
        <a class="a2" href="{{ url_for('hello_tasks') }}">
        <div id="logos">
            <img class="imgs" src="../static/svg/tasks_active.svg">
            <h4 class="sidebar-text">Tasks</h4>
        </div>
        </a>
    {% endblock task_image_colour %}

    {% block categories %}
        <div class="cate-container-1">
            <img src="../static/images/in_process.png">
            <h3>In-process</h3>
        </div>
    {% endblock categories %}

    {% block tasks %}
        {% include 'pagination_in_process_task.html' %}
    {% endblock tasks %}
</body>