<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font to Use -->
    <link rel="stylesheet" type="text/css" href="../static/css/fonts.css">

     <!-- Favicon -->
     <link rel="shortcut icon" type="image/x-icon" href="../static/images/logo.ico">


    <!-- CSS file to use -->
    <link rel="stylesheet" href="../static/css/layout.css" />
    {% block head %}
    <title>{% block title %}{% endblock %} </title>
    <link rel="stylesheet" {% block css_tab_colour %} href="../static/css/layout.css" {% endblock %}/>
    {% endblock %}
</head>
<body>
    <div class="sidebar">
        <div id="logo">
            <img src="../static/svg/logo.svg" height="60px" width="60px">
        </div>
        <div>
            {% block dash_image_colour %}
            <a class="a1" href="{{ url_for('hello_dashboard') }}">
            <div id="logos">
                <img class="imgs" src="../static/svg/dashboard.svg">
                <h5 class="sidebar-text">Dashboard</h5>
            </div>
            </a>
            {% endblock dash_image_colour %}
        </div>
        <div>
            {% block task_image_colour %}
            <a class="a2" href="{{ url_for('hello_tasks') }}">
            <div id="logos">
                <img class="imgs" src="../static/svg/tasks.svg">
                <h4 class="sidebar-text">Tasks</h4>
            </div>
            </a>
            {% endblock task_image_colour %}
        </div>
        <div>
            {% block invites_image_colour %}
            <a class="a5" href="{{ url_for('hello_invites') }}">
            <div id="logos">
                <img class="imgs" src="../static/svg/invites.svg">
                <h4 class="sidebar-text">Invites</h4>
            </div>
            </a>
            {% endblock invites_image_colour %}
        </div>
        <div>
            {% block profile_image_colour %}
            <a class="a3" href="{{ url_for('hello_profile') }}">
            <div id="logos">
                <img class="imgs" src="../static/svg/profile.svg">
                <h4 class="sidebar-text">Profile</h4>
            </div>
            </a>
            {% endblock profile_image_colour %}
        </div>
        <div>
            {% block settings_image_colour %}
            <a class="a4" href="{{ url_for('hello_settings') }}">
            <div id="logos">
                <img class="imgs" src="../static/svg/settings.svg">
                <h4 class="sidebar-text">Settings</h4>
            </div>
            </a>
            {% endblock settings_image_colour %}
        </div>
        <div>
            <a href="{{ url_for('hello_logout') }}">
            <div id="logos">
                <img class="imgs" src="../static/svg/logout.svg">
                <h4 class="sidebar-text">Logout</h4>
            </div>
            </a>
        </div>
    </div>
    <div id="content">
        {% block nav_title %}
        {% endblock nav_title %}

        {% block notice %}
        {% endblock notice %}

        {% block flash_div %}
        {% endblock flash_div %}

        {% block categories %}
        {% endblock categories %}

        {% block add_task %}
        {% endblock add_task %}

        {% block tasks %}
        {% endblock tasks %}

        {% block new_task_form %}
        {% endblock new_task_form %}

        {% block searched_user %}
        {% endblock searched_user %}
        
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
