<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% extends "layout.html" %}
    {% block head %}
        <title>{% block title %}{% endblock %} Add Task - DoTask</title>
        <link rel="stylesheet" {% block css_tab_colour %} href="../static/css/tasks.css" {% endblock %}/>
    {% endblock %}
</head>
<body>
    {% block nav_title %}
    <div class="nav_title">
        <h1>Add New Task</h1>
    </div>
    {% endblock nav_title %}

    {% block flash_div %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-div">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <br>
    {% endblock flash_div %}

    {% block task_image_colour %}
        <a class="a2" href="{{ url_for('hello_tasks') }}">
        <div id="logos">
            <img class="imgs" src="../static/svg/tasks_active.svg">
            <h4 class="sidebar-text">Tasks</h4>
        </div>
        </a>
    {% endblock task_image_colour %}
    {% block new_task_form %}
        <form action="/new_task" method="POST">
            <label for="title">Title</label>
            <input type="text" name="title" class="labels" id="title">

            

            <label for="description">Description</label>
            <textarea
                name="description" class="labels description" id="description" rows="4" cols="30">
            </textarea>

            <label for="due_date">Due Date</label>
            <input type="date" name="due_date" class="labels" id="due_date">
            
            <!--
            <label for="due_time">Due Time</label>
            <input type="time" name="due_time" class="labels" id="due_time">
            -->

            <label for="tag">Tag</label>
            <select name="tag" id="tag">
                <option value="Home">Home</option>
                <option value="Work">Work</option>
                <option value="Personal">Personal</option>
                <option value="Errands">Errands</option>
            </select>

            <input type="submit" value="Add Task">
        </form>
    {% endblock new_task_form %}
</body>