{% extends "layout.html" %}
{% block head %}
    <title>{% block title %}{% endblock %} Notifications - DoTask</title>
    <link rel="stylesheet" {% block css_tab_colour %} href="../static/css/notification.css" {% endblock %}/>
{% endblock %}

{% block notifications_image_colour %}
<a class="a4" href="{{ url_for('hello_notices') }}">
<div id="logos">
    {% set note = namespace(count=0) %}

    {% for notice in notices %}
        {% if notice.seen == False %}
            {% set note.count = note.count + 1 %}
        {% endif %}
    {% endfor %}
    
    {% if note.count > 0 %}
    <img class="imgs" src="../static/svg/notifications_with_note_active.svg">
    {% else %}
    <img class="imgs" src="../static/svg/notifications_active.svg">
    {% endif %}
    <h4 class="sidebar-text">Notices</h4>
</div>
</a>
{% endblock notifications_image_colour %}


{% block tasks %}
    {% if notices %}
        {% for notice in notices if notice.seen == True %}
            {% if notice.task_title == "Welcome" %}
            <a href="{{ url_for('hello_onboarding_notice') }}">
                <div class="notification">
                    <span class="notification-icon">!</span>
                    <span class="notification-text"> <b>{{ notice.task_title }}</b> <br>{{ notice.notification }} </span>
                </div>
            </a>
            {% endif %}
            {% for task_item in tasks %}
                {% if notice.task_title == task_item.title %}
                    <a href="{{ url_for('hello_each_task', task_id=task_item.id, notice_id=notice.id) }}">
                        <div class="notification">
                            <span class="notification-icon">!</span>
                            <span class="notification-text"> <b>{{ notice.task_title }}</b> <br>{{ notice.notification }} </span>
                        </div>
                    </a>
                {% endif %}            
            {% endfor %}
        {% endfor %}


        {% set note = namespace(count=0) %}

        {% for notice in notices %}
            {% if notice.seen == False %}
                {% set note.count = note.count + 1 %}
            {% endif %}
        {% endfor %}

        
        {% if note.count > 0 %}
        <hr>
            <div class="notification-alert">
                <span>New ({{ note.count }})</span>
            </div>
        {% endif %}
        


        {% for notice in notices if notice.seen == False %}
            {% if notice.task_title == "Welcome" %}
            <a href="{{ url_for('hello_onboarding_notice') }}">
                <div class="notification">
                    <span class="notification-icon">!</span>
                    <span class="notification-text"> <b>{{ notice.task_title }}</b> <br>{{ notice.notification }} </span>
                </div>
            </a>
            {% endif %}
            {% for task_item in tasks %}
                {% if notice.task_title == task_item.title %}
                    <a href="{{ url_for('hello_each_task', task_id=task_item.id, notice_id=notice.id) }}">
                        <div class="notification">
                            <span class="notification-icon">!</span>
                            <span class="notification-text"> <b>{{ notice.task_title }}</b> <br>{{ notice.notification }} </span>
                        </div>
                    </a>
                {% endif %}            
            {% endfor %}
        {% endfor %}
    {% else %}
        <p>No Notifications</p>
    {% endif %}
{% endblock tasks %}