{% extends "layout.html" %}
{% block head %}
    <title>{% block title %}{% endblock %} Profile - DoTask</title>
    <link rel="stylesheet" {% block css_tab_colour %} href="../static/css/profile.css" {% endblock %}/>
{% endblock %}

{% block profile_image_colour %}
            <a class="a3" href="{{ url_for('hello_profile') }}">
            <div id="logos">
                <img class="imgs" src="../static/svg/profile_active.svg">
                <h4 class="sidebar-text">Profile</h4>
            </div>
            </a>
{% endblock profile_image_colour %}

{% block tasks %}
    {% if current_user %}
    <h1>Account Information</h1>
    <br>
    <div class="shifts">
        <div><h4>
            Full name: 
        </h4></div> 
        <div><h4>
            {{ current_user.last_name }} {{ current_user.first_name }}
        </h4></div>
    </div>

    <div class="shifts">
        <div><h4>
            Username: 
        </h4></div> 
        <div><h4>
            {{ current_user.username }} 
        </h4></div>
    </div>

    <div class="shifts">
        <div><h4>
            Email: 
        </h4></div> 
        <div><h4>
            {{ current_user.email }} 
        </h4></div>
    </div>
    {% endif %}

    
    {% if task_counts.all > 0 %}
    <div class="shifts click">
        <div><h4>
            Tasks: 
        </h4></div> 
        <a href="{{ url_for('hello_tasks') }}">
            <div>
                <h4>{{ task_counts.all }} </h4>
            </div>
        </a>
    </div>
    {% endif %}

    {% if task_counts.in_progress > 0 %}
    <div class="shifts click">
        <div><h4>
            In Progress Tasks: 
        </h4></div>
        <a href="{{ url_for('hello_in_process_tasks') }}">
            <div>
                <h4>{{ task_counts.in_progress }} </h4>
            </div>
        </a>
    </div>
    {% endif %}

    {% if task_counts.completed > 0 %}
    <div class="shifts click">
        <div><h4>
            Completed Tasks: 
        </h4></div>
        <a href="{{ url_for('hello_completed_tasks') }}">
            <div>
                <h4>{{ task_counts.completed }}</h4>
            </div>
        </a>
    </div>
    {% endif %}

    {% if task_counts.cancelled > 0 %}
    <div class="shifts click">
        <div><h4>
            Cancelled Tasks: 
        </h4></div>
        <a href="{{ url_for('hello_cancelled_tasks') }}">
        <div>
            <h4>{{ task_counts.cancelled }}</h4>
        </div>
    </div>
    {% endif %}

    <form action="{{ url_for('hello_logout') }}">
      <button type="submit" class="logout-button">
        <img class="imgss" src="../static/svg/logout_active.svg">
        Logout
      </button>
    </form>
{% endblock tasks %}