<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dotask</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../static/Logo.ico">

    <!-- Font CSS -->
    <link href="../static/fonts.css">



    <!-- CSS files-->
    <link href="../static/landing_page.css" rel="stylesheet">
    <link href="../static/login.css" rel="stylesheet">

    <!-- Font to Use -->
    <link rel="stylesheet" type="text/css" href="../static/fonts.css">

  </head>
  <body>
    <div class="off-screen-menu">
      <div class="top-bar-text-1"><a href="{{ url_for('hello_home') }}">HOME</a></div>
      <div class="top-bar-text-1"><a href="{{ url_for('hello_company') }}">COMPANY</a></div>
        <div class="top-bar-text-1"><a href="{{ url_for('hello_blog') }}">BLOG</a></div>
        <div class="top-bar-text-1"><a href="{{ url_for('hello_blog') }}">LOGIN</a></div>
        <div class="top-bar-text-1"><a href="{{ url_for('hello_register') }}">REGISTER</a></div>
        <div class="top-bar-text-1"><a href="{{ url_for('hello_company') }}">CONTACT US</a></div>
    </div>
    <div class="main-page">
      <div class="hero-left">
        <div class="hp_top">
          <div class="hp_top_left">
            <div id="logo">
              <img src="../static/Logo.png">
              </div>
            <div><h1 class="logo-title">DOTASK</h1></div>
            <div class="header-text">
            <div class="top-bar-text-1"><a href="{{ url_for('hello_home') }}">HOME</a></div>
            <div class="top-bar-text-1"><a href="{{ url_for('hello_company') }}">COMPANY</a></div>
              <div class="top-bar-text-1"><a href="{{ url_for('hello_blog') }}">BLOG</a></div>
              </div>
            <div class="ham"></div>
            <nav><div class="hamburger">
              <span></span>
              <span></span>
              <span></span>
            </div></nav>
          </div>
        </div>
        <div class="hero-text">
          <div class="flash-div">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            {% endif %}
          {% endwith %}
          </div>
          <div class="hero-text-div">
              <div><h2>Create an Account</h2></div>
              <form action="/register" method="POST">
              <label for="email">Email</label>
              <input type="email" name="email" class="labels" id="email">

              <label for="username">Username</label>
              <input type="text" name="username" class="labels" id="username">

              <label for="first_name">First Name</label>
              <input type="text" name="first_name" class="labels" id="first_name">

              <label for="last_name">Last Name</label>
              <input type="text" name="last_name" class="labels" id="last_name">
            
              <label for="password">Password</label>
              <input type="password" name="password" class="labels" id="password">

              <label for="confirm">Confirm Password</label>
              <input type="password" name="confirm" class="labels" id="confirm">
              <input type="submit" value="Register">
            </form>
          <h4 style="text-align: center;">Already have an account?  <span style="color: blue; cursor: pointer;"> <a href="{{ url_for('hello_login') }}">LogIn</a></span> </h4></div>
        </div>
        
        <div class="hero-base">
          <div class="hero-base-art">
            <div class="logo-mini">
              <img src="../static/rect_dark_blue.png">
            </div>
            <div class="logo-mini">
              <img src="../static/rect_light_blue.png">
            </div>
            <div class="logo-mini">
              <img src="../static/rect_dark_blue.png">
            </div>
            <div class="logo-mini">
              <img src="../static/rect_light_blue.png">
            </div>
            <div class="logo-mini">
              <img src="../static/rect_dark_blue.png">
            </div>
            <div class="logo-mini">
              <img src="../static/rect_light_blue.png">
            </div>
            <div class="logo-mini">
              <img src="../static/rect_dark_blue.png">
            </div>
          </div>
          <div class="hero-reg">
            <div id="sign-bottom">Sign In</div>
            <div id="sign-bottom">Sign Up</div>
          </div>
        </div>
        
      </div>
      <div class="hero-right">
        <div class="hp-row-1">
            <div class="A" id="A1"><h1 class="AA">D</h1></div>
            <div class="A" id="CC"><h4 class="BB">Decrease stress and overwhelm</h1></div>
            <div class="A">
              <div class="A-3-1" class="CCC"><h1 class="CC">DO</h1></div>
              <div class="A-3-2">
                <img src="../static/rect_dark_blue.png">
                <img src="../static/rect_light_blue.png">
                <img src="../static/rect_dark_blue.png">
                <img src="../static/rect_light_blue.png">
              </div>
            </div>
            <div class="A">
              <div class="A-3-1"><h1 class="CC">TASK</h1></div>
              <div class="A-3-2">
                <img src="../static/rect_dark_blue.png">
                <img src="../static/rect_light_blue.png">
                <img src="../static/rect_dark_blue.png">
                <img src="../static/rect_light_blue.png">
              </div>
            </div>  
        </div>
        <div class="hp-row-1">
          <div class="A" id="img-border-1"></div>
          <div class="A" id="CC"><h4 class="BB">Optimize time and efficiency</h4></div>
          <div class="A"><h1 class="AA">O</h1></div>
          <div class="A" id="img-border-2"></div> 
        </div>
        <div class="hp-row-1">
          <div class="A" id="CC"><h4 class="BB">Achieve your goals and objectives</h4></div> 
          <div class="A"><h1 class="AA">A</h1></div>
          <div class="A" id="CC" style="border-left: 1px solid black"><h4 class="BB">Sharpen focus and reduce distractions</h4></div>
          <div class="A"><h1 class="AA">S</h1></div>
        </div>
        <div class="hp-row-disappear">
          <div class="A"><h1 class="AA">T</h1></div>
          <div class="A" id="CC"><h4 class="BB">Track progress and celebrate achievements</h4></div>
          <div class="A"><h1 class="AA">K</h1></div>
          <div class="A" id="CC" style="border-left: 1px solid black"><h4 class="BB">Keep organized and avoid missed deadlines</h4></div>
        </div>
        <div class="hp-row-2">
          <div class="hp-row-last">
            <div class="A" id="DDDD"><h1 class="AA">T</h1></div>
            <div class="A" id="DDDD"><h4 class="BB">Track progress and celebrate achievements</h4></div>
          </div>
          <div class="hp-row-3" id="img-border-3"></div>
          <div class="hp-row-last">
            <div class="A" id="DDDD"><h1 class="AA">K</h1></div>
            <div class="A" id="DDDD"><h4 class="BB">Keep organized and avoid missed deadlines</h4></div>
          </div>   
        </div>
        <div class="call-to-action">
          <div class="signup">SIGN IN</div>
          <div class="signup">REGISTER</div>
        </div>
        </div>
      </div>
        
        </div>
      </div>
      </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <script src="../static/xyz.js"></script>

    <!-- Option 1: Bootstrap Bundle with Popper 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
  </body>
</html>