{% extends "layout.html" %}
{% block head %}
    <title>{% block title %}{% endblock %} Dashboard - DoTask</title>
    <link rel="stylesheet" {% block css_tab_colour %} href="../static/css/settings.css" {% endblock %}/>
{% endblock %}

{% block settings_image_colour %}
    <a class="a4" href="{{ url_for('hello_settings') }}">
    <div id="logos">
        <img class="imgs" src="../static/svg/settings_active.svg">
        <h4 class="sidebar-text">Settings</h4>
    </div>
    </a>
{% endblock settings_image_colour %}