{% extends "layout.html" %}
{% block head %}
    <title>{% block title %}{% endblock %} Tasks - DoTask</title>
    <link rel="stylesheet" {% block css_tab_colour %} href="../static/page_css_folder/tasks.css"> 
    {% endblock %}
{% endblock %}
{% block task_image_colour %}
    <a class="a2" href="{{ url_for('hello_tasks') }}">
    <div id="logos">
        <img class="imgs" src="../static/tasks_active.svg">
        <h4 class="sidebar-text">Tasks</h4>
    </div>
    </a>
{% endblock task_image_colour %}

{% block tasks %}
    {% if tasks %}
        <h1 class="task-h1">Tasks</h1>
        {% for task in tasks %}
        <a href="{{ url_for('hello_each_task', task_id=task['id']) }}">
        <div class="message-box">
            <div class="message">
                <h4> {{ task['title'] }} </h4>
                <h4 style="color: #676767;"> {{ task.tag.name }} </h4>
            </div>

            <div class="message-dot {% if task.status.name == 'In_Progress' %}progress-task
                {% elif task.status.name == 'Completed' %}completed-task
                {% elif task.status.name == 'Cancelled' %}cancelled-task
                {% else %}unknown-task
                {% endif %}">
            </div>
        </div>
        </a>
        {% endfor %}
        {% else %}
                <div class="message-box">
                    <div class="message">
                        <h2>No Tasks Yet</h2>
                    </div>
                </div>
    {% endif %}
{% endblock tasks %}