.menu-btn {
    display: block;
    font-size: 1.5rem; /* Adjust icon size */
    cursor: pointer;
  }
  
  .menu {
    display: none; /* Initially hidden */
    position: absolute; /* Overlaps main content */
    top: 50px; /* Adjust menu position */
    left: 0;
    background-color: #ddd;
    padding: 10px;
  }
  
  #menu-toggle:checked ~ .menu {
    display: block; /* Display menu on checkbox click */
  }