@font-face {
    font-family: graduate;
    src: url(../static/Graduate/Graduate-Regular.ttf)
}

@font-face {
    font-family: inter;
    src: url(../static/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: inter-b;
    src: url(../static/Inter/Inter-VariableFont_slnt\,wght.ttf);
}