@media (min-width: 768px) {
        .hero-text{
        width: 80%;
        height: 60%;
        margin: auto;
        display: flex;
        align-items: center;
    }

    .hero-text-div{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-family: inter;
    }

    .hero-text-div > div {
        display: flex;
        flex-direction: column;
    }


    input[type=submit] {
        background-color: blue;
        border: none;
        border-radius: 10px;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
    }


    input[type=submit]:hover {
        background-color: #5694F2;
    }

    input[type=email], input[type=password], select, textarea {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }

    .hero-base{
        width: 100%;
        display: flex;
        background-color: #04AA6D;
    }

    .hero-base-art{
        width: 100%;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 0px;
    }

    .hero-reg{
        display: none;
    }

}

@media (max-width: 769px) {
    .hero-right{
        display: none;
    }

    .hero-left{
        display: block;
    }

    input[type=submit] {
        background-color: blue;
        border: none;
        border-radius: 10px;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
    }

    .hero-text{
        width: 80%;
        height: 60%;
        margin: 10%;
        display: flex;
        align-items: center;
    }

    .hero-text-div{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-family: inter;
    }

    .hero-text-div > div {
        display: flex;
        flex-direction: column;
    }


    input[type=submit] {
        background-color: blue;
        border: none;
        border-radius: 10px;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
    }


    input[type=submit]:hover {
        background-color: #5694F2;
    }

    input[type=email], input[type=password], select, textarea {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }

}