<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label for="name">Name:</label>
    <input id="name" type="text">
    <br>
    <br>

    <label for="Email">Email:</label>
    <input id="email" type="email">
    <br>
    <br>

    <label for="password">Password:</label>
    <input id="password" type="password">
    <br>
    <br>

    <label for="confirm-password">Confirm Password:</label>
    <input id="confirm-password" type="password">
    <button type="button">SUBMIT</button>
    <br>
    <br>
</body>
</html>