.a3 > div{
    background-color: blue;
    width: 100%;
    height: 10%;
    padding-left: 30px;
    margin: 5% auto;
    border-radius: 20px;
    color: white;
}


.a3 > div > h4{
    color: white;
}

.a3 > div > img{
    fill: #FFFFFF;
}